@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #03001C;
    --cor-secundaria: #B6EADA;
    --cor-tercearia: #5B8FB9;
    --cor-quartearia: #301E67;
}




body{
    background-color: #005eac;

}

h1{
   font-family: 'Bree Serif', serif; 
   font-weight: 600;
   font-size:  2.5rem;
   color: #002472;
}

p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    color:#B6EADA;
    font-size: 1.375;
}

h2{
   font-family: 'Bree Serif', serif; 
   font-weight: 300;
   font-size:  2.25rem;
   color: #002472;
}