*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #03001C;
    --cor-secundaria: #B6EADA;
    --cor-tercearia: #5B8FB9;
    --cor-quartearia: #301E67;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


body{
    background-color: #005eac;

}

h1{
   font-family: 'Bree Serif', serif; 

}

