@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

a:link{
    text-decoration: none;
    
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #03001C;
    --cor-secundaria: #B6EADA;
    --cor-tercearia: #5B8FB9;
    --cor-quartearia: #301E67;
}

.tabela{
    display: flex;
    align-items: baseline;
    list-style: none;
    background-color: #5B8FB9;
    padding-bottom: 2rem; 
    padding-top: 2rem; 
}

.cabecalho__estilo{
    font-family: 'Bree Serif', serif; 
    font-weight: 600;
    font-size:  2.5rem;
    color: #ffffff;
    padding-right: 2.5rem;
    padding-left: 1.25rem; 
}

.cabecalho__estilo1{
    font-family: 'Bree Serif', serif; 
    font-weight: 600;
    font-size:  2.5rem;
    color: #ffffff;
    padding-right: 2.5rem;
    padding-left: 1.25rem; 
    text-shadow: 
               -0.25rem -0.25rem 0px #000000, 
               -0.25rem 0.25rem 0px #000000,                    
               0.25rem -0.25rem 0px #000000,                  
               0.25rem 0px 0px #000000;
}

.cabecalho__estilo:hover{
    color:#03001C;
    padding-left: 1.75rem;
    
}


body{
    background-color: #005eac;   
}

h1{
    padding-top: 3rem;
    font-family: 'Bree Serif', serif; 
    font-weight: 600;
    font-size:  2.5rem;
    color: #002472;
    padding-left: 1.25rem;
}

p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    color:#B6EADA;
    font-size: 1.375rem;
    padding-left: 1.25rem;
}

h2{
    font-family: 'Bree Serif', serif; 
    font-weight: 300;
    font-size:  2.25rem;
    color: #002472;
    padding-left: 1.25rem;
}

img{
    padding-left: 1.25rem;
}